# App name
PROJECT_NAME=g7
USER_NAME=g7user

# Nginx port
APP_PORT=80

# User and group IDs for file permissions (adjust as needed)
UID=1000
GID=1000

# Database settings
DB_ROOT_PASSWORD=ChangeMe!1234
DB_DATABASE=gnuboard7
DB_USERNAME=g7_user
DB_PASSWORD=g7_ChangeMe!1234

# Redis settings
REDIS_HOST=g7_redis
REDIS_PASSWORD=ChangeMe!1234
SESSION_DRIVER=redis
CACHE_STORE=redis

# 추가 호스트 설정 (호스트가 필요하면 여기에 추가후 docker-compose.yml에서 참조)
EXTRA_HOST_1=mail.localhost:127.0.0.1